@import "Variables";

.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// .input-text-ui {
//   margin-top: 1%;
// }

.button-ui {
  margin-top: 1%;
}
